/*navbar*/
.navbar-brand img {
    width: 90px;
    height: 45px;
    padding-top: 0px;
    margin-top: 0px;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-primary {
    background-color: rgb(255, 7, 7);
}

.btn:not(.nav-btns button) {
    border: 1px solid rgb(136, 83, 83);
    border-radius: 25px;
    background-color: #fff;
    color: rgb(180, 65, 65);
    padding: 10px 28px;
    margin: auto;
}

.btn:not(.nav-btns button):hover {
    background-color: #e00d0d;
    color: #fff;
    border-color: #fa2e0a;
}

/*text color*/
.text {
    color: #e70d0df6 !important;
}

.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
    background-color: white !important;
}

.nav-link:hover {
    color: rgb(184, 27, 27) !important;
}

.nav-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/*header*/
#header {
    background: url(images/one-piece-going-merry-one-piece-sunny-one-piece-thousand-sunny-hd-wallpaper-preview.jpg)top/cover no-repeat;
    
}

/*collection*/
button.active-filter-btn {
    background-color: #ff2802 !important;
    color: #fff !important;
    border-color: #fc2a05 !important;
}

.filter-button-group .btn:hover {
    color: #fff !important;

}

.collection-img span {
    top: 200px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.collection-list .btn {
    padding: 8px 20px !important;
}

.collection-img img {
    transition: all 0.3s ease;
}

.collection-img:hover img {
    transform: scale(1.2);
}

.card:hover{
    box-shadow: -2px -1px 25px -4px rgba(7, 7, 7, 0.75);
    -webkit-box-shadow: -2px -1px 25px -4px rgba(240, 5, 5, 0.75);
    -moz-box-shadow: -2px -1px 25px -4px rgba(238, 7, 7, 0.75);
    transition: 0.5s;
}

/*exclusive*/
button.active-filter-btn {
    background-color: #dd1212 !important;
    color: #fff !important;
    border-color: #da0808 !important;
}

.filter-button-group .btn:hover {
    color: #fff !important;

}

.exclusive-img span {
    top: 200px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/*exclusive*/
.exclusive-img span {
    top: 20px;
    right: 20px;

}

.exclusive-list .btn {
    padding: 8px 20px !important;
}

.exclusive-img img {
    transition: all 0.3s ease;
}

.exclusive-img:hover img {
    transform: scale(1.2);
}

/*offers*/
#offers {
    background: url(images/background\ OP\ section.jpg) center/cover no-repeat;
}

#offers .row {
    min-height: 50vh;
}

.offers-content span {
    font-size: 28px;
}

.offers-content h2 {
    font-size: 60px;
}

.offers-content .btn {
    border-color: transparent !important;
}

#about {
    background-color: rgba(0);
}

/*dispatch*/
#dispatch {
    background-color: rgba(179, 179, 179, 0.05);
}

#dispatch p {
    max-width: 600px;
}

#dispatch .input-group {
    max-width: 500px;
}

#dispatch .form-control {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#dispatch .btn {
    background-color: #ff2600;
    color: #fff;
    border-color: #f52a06;
}

#dispatch .btn:hover {
    background-color: #000;
    border-color: #000;
}



/*FOOTER*/
footer a {
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fd2d08 !important;
}

@media(min-width:992px) {
    .nav-item {
        border-bottom: none;
    }
}
